@charset "utf-8";

html{
    font-family:"poppins", "inter", sans-serif;
}


header {
	width: 100%;
	height: 40svh;
	background-color: rgb(34 119 85 / 0.1);
}

main {
	width: 100%;
	height: 50svh;
	background-color: rgb(34 119 85 / 0.1);
	justify-content: center;
}

footer {
	width: 100%;
	height: 10svh;
	background-color: rgb(34 119 85 / 0.1);
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

.f-col {
    flex-direction: column;
}

.flex {
	display: flex;
}


body {
    background-color: #275;
    color: #fff;
}

main {
  width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}


h1 {
    font-size: 2rem;
}
/*	This says the result, but probably needs to be rethought	*/
h2 {
	font-size: 1.6rem;
	position: absolute;
	z-index: 100;
  font-size: 6rem;
	margin: auto;
}

h3 {
    font-size: 1.6rem;
}

h1, h2, h3, h4 {
    text-align: center;
}

p {
    text-align: center;
    height: 3svh;
		line-height: 3svh;
    font-size: 1.5rem;
		background-color: #b3f;
}

.dealer-image-wrapper {
	width: 100%;
	height: 7svh;
	background-color: #a8d;
}

.player-image-wrapper {
  display: grid;
  position: relative; 
  grid-template-columns: 1fr; 
  grid-template-rows: auto; 
  width: 100%; 
  height: 20svh; 

	img {
		height: 20svh;
		width: auto;
	}
}

.player-image-wrapper > * {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  z-index: 1; 
  transition: transform 0.3s ease-in-out; 
}

.player-image-wrapper > *:nth-child(1) {
  z-index: 1;
}

.player-image-wrapper > *:nth-child(2) {
  z-index: 2; 
  transform: translateX(50%); 
}

.player-image-wrapper > *:nth-child(3) {
  z-index: 3; 
  transform: translateX(100%); 
}


/* 	Need to add more, currently only display 3 and covering the first in stack*/

button {
    width: 100px; height: 50px;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #8a9;
    color: #fff;
    border-radius: 15px;
}

.hit-btn, .hold-btn {
    display: none;
    opacity: 0;
}

.hidden {
    display: none; 
    opacity: 0;
}

.visible {
    display: inline-block;
    opacity: 1;
}

