@charset "utf-8";
/*-------------------------------------------->
- First Screen - Title / 'play'
- Bet selector 
  - Fade in right
  - Bank/bet Display 
  - Button design 
- Deal
  - Shuffling timing 
  - Card deal in
  * Would be great if I could halt the
    redeal every time 
- Side bank/bet display 
- Ending sequence 
  - Sleep functions 



- Correct player hand value 
- Dealer value display 
- Aside styles 
  - Info buttons
  

Later JavaScript 
  - Modules 
  - Adding bank ot localStorage
  <---------------------------------------------*/

html{
    font-family:"poppins", "inter", sans-serif;
}

button {
	outline: none;
	text-decoration: none;
	border: none;
}

/*-------------------------------------------->
	Roots
<---------------------------------------------*/

:root {
	--clr-primary: #396;
}

/*-------------------------------------------->
	Utility Classes 
<---------------------------------------------*/

.no-select {
  user-select: none; /* Standard property */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none;    /* For older Firefox */
  -ms-user-select: none;     /* For older IE/Edge */
}

.container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
}

.f-col {
	flex-direction: column;
}

.flex {
display: flex;
}

.hidden {
	display: none; 
	opacity: 0;
}

.pointer {
  cursor: pointer;
}


/*-------------------------------------------->
	Fonts
<---------------------------------------------*/

h1 {
	font-size: 4.5rem;
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
}

p {
	text-align: center;
	font-size: 1.5rem;
	margin: 15px 0;
}

/*-------------------------------------------->
	Body Structure 
<---------------------------------------------*/

body {
  background: linear-gradient(to bottom right, rgb(44, 111, 78), #32631b);	border-radius: 15px;
  /* background: linear-gradient(to bottom right, #396, #56ab2f);	border-radius: 15px; */
	color: #fff;
	justify-content: center;
	align-items: center;
	position: relative;
}

header {
	width: 100%;
  height: 15svh;
  line-height: 15svh;
	justify-content: center;
	align-items: center;
}

main {
	position: relative;
	width: 100%;
  height: 85svh;
	align-items: center;
}

/*-------------------------------------------->
	Display Info
<---------------------------------------------*/

aside {
  height: 100%;
  width: 400px;
  inset: 0;
  margin: auto 0;
  position: fixed;
  justify-content: center;
  align-items: center;

  ul {
    height: 300px;
  }
}



.bet-banking-area {
	width: 500px;
	height: 600px;
  background: linear-gradient(to bottom right, #396, #56ab2f);	
  border-radius: 15px;
  position: absolute;
	padding: 50px 100px;
  z-index: 1000;
  border: 0;
  color: #fff;
  transform: translateX(-120px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.bet-banking-area.visible {
  transform: translateX(0);
  opacity: 1;
}

.bank-area {
  width: 100%;
  justify-content: center;
  align-items: center;

	p {
    width: 100%;
		line-height: 60px;
		background-color: rgb(64 64 64 / 0.2);
		font-size: 2.6rem;
		border-radius: 6px;
    text-align: left;
    padding-left: 20px;
	}

}

.money-sack {
	justify-content: center;
	align-items: center;
  width: 200px;
  justify-content: center;
  align-items: center;
  background: url('../img/piggy.png') no-repeat center center;
  background-size: contain;
  padding-top: 53px;
  text-align: center;
  font-size: 2.6rem;
}

.button {
  width: 80px; 
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #012;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  filter: brightness(1.2);
}

.bet10 {
  background: url("../img/bet10.png") no-repeat center center;
	background-size: contain;
}

.bet50 {
  background: url("../img/bet50.png") no-repeat center center;
	background-size: cover;
}

.bet100 {
  background: url("../img/bet100.png") no-repeat center center;
	background-size: cover;
}



.bet-area {
	width: 100%;
  justify-content: space-between;
  margin: 5px 0;

  p {
    color: #fff;
  }
}

.decrease-bet-area {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}

.decrease {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 3rem;
  color: #d33;
  cursor: pointer;
}

/*-------------------------------------------->
	Card Handling
<---------------------------------------------*/

.value-image-wrapper {
  position: relative;
}

.dealer-image-wrapper {
  display: grid;
  position: relative; 
  grid-template-columns: 1fr; 
  grid-template-rows: auto; 
  width: 200px; 
  height: 150px; 
	padding: 10px 20px;
	border: solid 3px rgb(16 32 16 / 0.8);
	border-radius: 15px;
}

.dealer-image-wrapper > img {
  height: auto;
  width: 80px;
  position: absolute; 
  top: 15px; 
  left: 15px; 
  z-index: 1; 
  opacity: 0; 
  animation: slideInStaggered 0.5s ease-in-out forwards; 
}

.dealer-image-wrapper > img:nth-child(1) {
  z-index: 1;
  animation-delay: 0s;
  transform: translateX(0); 
}
.dealer-image-wrapper > img:nth-child(2) {
  z-index: 2;
  animation-delay: 0.2s;
  transform: translateX(25%); 
}
.dealer-image-wrapper > img:nth-child(3) {
  z-index: 3;
  animation-delay: 0.4s;
  transform: translateX(50%); 
}
.dealer-image-wrapper > img:nth-child(4) {
  z-index: 4;
  animation-delay: 0.6s;
  transform: translateX(75%); 
}
.dealer-image-wrapper > img:nth-child(5) {
  z-index: 5;
  animation-delay: 0.8s;
  transform: translateX(100%); 
}

.dealer-value-display {
	position: absolute;
  inset: 0;
  margin: 50px auto;
	z-index: 500;
}

.player-image-wrapper {
  display: grid;
  position: relative; 
  grid-template-columns: 1fr; 
  grid-template-rows: auto; 
  width: 400px; 
  height: 240px; 
  padding: 30px; 
	margin-bottom: 50px;
	border: solid 3px rgb(16 32 16 / 0.8);
  border-radius: 15px;
}

.player-image-wrapper > img {
  height: auto;
  width: 140px;
  position: absolute; 
  top: 15px; 
  left: 15px; 
  z-index: 1; 
  opacity: 0; 
  animation: slideInStaggered 0.5s ease-in-out forwards; 
}

.player-image-wrapper > img:nth-child(1) {
  z-index: 1;
  animation-delay: 0s;
  transform: translateX(0); 
}

.player-image-wrapper > img:nth-child(2) {
  z-index: 2;
  animation-delay: 0.2s;
  transform: translateX(25%); 
}

.player-image-wrapper > img:nth-child(3) {
  z-index: 3;
  animation-delay: 0.4s;
  transform: translateX(50%); 
}

.player-image-wrapper > img:nth-child(4) {
  z-index: 4;
  animation-delay: 0.6s;
  transform: translateX(75%); 
}

.player-image-wrapper > img:nth-child(5) {
  z-index: 5;
  animation-delay: 0.8s;
  transform: translateX(100%); 
}

.player-hand-value {
	position: absolute;
	bottom: 2px;
	left: 15px;
}

.final-result-display {
  font-size: 3rem;
  text-align: center;
  height: 100px;
}

/*-------------------------------------------->
	Action Buttons 
<---------------------------------------------*/

.deal-bet {
	width: 400px;
	justify-content: space-between;
}

.btn {
  width: 120px;
  height: 60px;
  background-color: rgb(146, 3, 98);
  font-weight: 500;
  border-radius: 50%;
  box-shadow: inset 2px 3px 3px rgb(255 255 255 / 0.4), 
    inset -2px -3px 3px rgb(0 0 0 / 0.4); 
  font-size: 2rem;
  color: #fefefe;
  filter: blur(0.35px) brightness(0.9);
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  filter: blur(0) brightness(1.2);
}

.btn:active {
  box-shadow: none;
}

.start-btn {
  margin: 0 auto;
}

.double-btn {
  width: 60px;
}

/*----  Money display ------*/
.bank-wrapper {
position: absolute;
left: 0;
transform: translateX(-120px);
opacity: 0;
transition: all 0.5s ease-in-out;
}

.bank-wrapper.visible {
  transform: translateX(0);
  opacity: 1;
}

.money-display {
  width: 120px;
  justify-content: center;
  align-items: center;
  background: url('../img/piggy.png') no-repeat center center;
  background-size: contain;
  height: 100px;
  padding-top: 43px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 2rem;
}

.bet-display {
  width: 120px;
  justify-content: center;
  align-items: center;
  background: url('../img/bet100.png') no-repeat center center;
  background-size: contain;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 2rem;
}

/*-------------------------------------------->
	Media Queries 
<---------------------------------------------*/

@media (max-width: 768px) {
	h1 {
		font-size: 3.5rem;
	}
	
	.dealer-image-wrapper {
		width: 130px; 
		height: 110px; 
		
		img {
			height: auto;
			width: 55px;
		}
	}
	
	.player-image-wrapper {
		width: 320px; 
		height: 185px; 
    padding: 25px;

		img {
			width: 100px;
		}
	}
  
  .money-display, .bet-display {
    width: 80px;
    font-size: 1.6rem;
  }

  .bet-banking-area {
    width: 400px;
    height: 500px;
    padding: 25px 50px;
  }

  .button {
    width: 70px; 
    height: 70px;
    font-size: 1.2rem;
  }

  .money-sack {
    width: 150px;
  }

  .deal-bet {
    width: 320px;
  }

  .btn {
    width: 90px;
    height: 50px;
    font-size: 1.6rem;
  }

  .double-btn {
    width: 50px;
  }

  .pot-display {
    width: 70px;
    height: 70px;
  }

  .pot {
    line-height: 70px;
    font-size: 2.4rem;
  }

}

@media (max-width: 480px) {
	h1 {
		font-size: 2rem;
	}
	.dealer-image-wrapper {
		width: 120px; 
		height: 100px; 
    padding: 5px 20px;
		
		img {
      height: auto;
			width: 50px;
		}
	}
	
	.player-image-wrapper {
		width: 260px; 
		height: 150px;
    padding: 15px;
	}
	
	.player-image-wrapper > img {
		width: 80px;
	}

  .bet-banking-area {
    width: 100%;
    height: 100%;
  }



  .button {
    width: 60px;
    height: 60px;
  }

  .decrease {
    width: 60px;
  }

  .money-display, .bet-display {
    width: 50px;
    font-size: 1.2rem;
  }

  .bank-wrapper {
    width: 100%;
    bottom: 0;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .deal-bet {
    width: 260px;
  }

  .btn {
    width: 75px;
    height: 50px;
    font-size: 1.2rem;
  }

  .double-btn {
    width: 50px;
  }

}

/*-------------------------------------------->
	Animations
<---------------------------------------------*/

@keyframes slideInStaggered {
  0% {
    transform: translateX(100%);
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}